.content {
  width: 100%;
  height: 100%;
  position: relative;
}

.addButton {
  position: absolute;
  width: 60%;
  bottom: 10%;
}

/* .note-root{
  margin-bottom: 50px;
  width: 100vw;
  height: 100vh;
}

.note{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: green;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
} */

.wrk-list {
  width: 100%;
  height: 100%;
  margin-top: 10px;

}

.wrk-list .Td {
  padding-left: 10px;
}
.IonItem {
  background-color: #063bda;
  color: rgba(12, 125, 133, 0.699);

}

.timer-root{
  /* background-color: #c0e9ec; */
  border-radius: 10px;
}

.set span{
  font-size: 10px;
}
.goal p{
  font-size: 25px;
  font-weight: bold;
  color: #666666;
}


